<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.1.4" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.1.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.Xrm.Client.2011" version="5.0.18" targetFramework="net452" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net452" />
</packages>